@import "src/utilities/references/index";
.rge-footer{
  background-color: black;
  //height: 460px;
  width: 100%;
  padding-top: 48px;
  display: flex;
  align-items: center;
  .right{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 32px;
    .items-container{
      display: flex;
      .my-column{
        display: flex;
        flex-direction: column;
        min-width: 400px;
        max-width: 400px;
        .items{
          display: flex;
          align-items: center;
          margin-top: 12px;
          >span{
            margin-left: 12px;
            color: gold;
            font-size: 12px;
          }
          h5,a{
            font-size: 16px;
            color: white;
            cursor: pointer;
            transition: color 0.3s;
            font-weight: 200;
            &:hover{
              color: gold;
            }
          }

        }
      }
    }
    .warning{
      display: flex;
      align-items: center;
      margin-top: 32px;
      >span{
        font-size: 32px;
        color: red;
      }
      >h3{
        font-size: 14px;
        color: gold;
      }
    }
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     border-right: solid 2px gold;
     padding: 0 32px;
    h2{
      color: gold;
      font-size: 24px;
      font-weight: 700;
    }
    h3,label,h4,h5{
      color: white;
      font-size: 16px;
      font-weight: 600;
      margin-top: 16px;
    }
    label{
      background-color: red;
      padding: 6px;
    }
    .social-media{
      width: 100%;
      justify-content: space-between;
      margin-top: 32px;
      display: flex;
      align-items: center;
      padding: 0 32px;
      .item{
        cursor: pointer;
        padding: 6px 6px 4px;
        border-radius: 100%;
        background-color: white;
        >i{
          font-size: 20px;
          color: black;
        }
      }
    }
  }

}