@import "src/utilities/references/index";

.rge-header {
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;


  .header-one {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #101010;
    padding: 0 16px;

    > div {
      margin: auto;
      max-width: $maxWidth;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        flex: 1;
      }

      .social {
        color: $white2;

        > * {
          margin-left: 16px;
          cursor: pointer;
          transition: color 0.3s ease-in-out;
          font-size: 14px;

          &:hover {
            color: $white1;
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;

        .item {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 32px;

          i {
            color: gold;
            margin-right: 8px;
          }

          p {
            color: $white2;
            font-weight: 400;
            font-size: 12px;
          }
        }
      }
    }
  }

  .header-two {
    padding: 0 16px;
    width: 100%;
    height: 70px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;


    > div {
      max-width: $maxWidth;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      span {
        flex: 1;
      }

      a {
        @include rge-size(font-size, 30px, 12px);
        //text-align: center;
        //font-size: 30px;
        font-weight: 700;
        color: gold;
      }

      .item {
        cursor: pointer;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          @include rge-size(font-size, 14px, 10px);
          //font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          transition: color 0.3s ease-in-out;
        }

        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: gold;

          h4 {
            color: #0a58ca;
          }
        }

        &.active {
          background-color: gold;

          h4 {
            color: #0a58ca;
          }
        }
      }
    }
  }


}