@import "src/utilities/references/index";

.rge-project-list-page {
  .local-header {
    width: 100%;
    height: 60px;
    background-color: #151515;

    .my-content {
      max-width: $maxWidth;
      margin: 0 auto;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;

      .item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        h4 {
          font-size: 14px;
          color: $white3;
          transition: color 0.3s ease-in-out;
        }

        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;

        &:hover, &.active {
          background-color: gold;

          h4 {
            color: black;
          }

        }
      }

    }
  }

  .my-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-container {
      width: 100%;
      max-width: $maxWidth;
      display: flex;
      flex-wrap: wrap;
      padding: 64px 16px;
      //margin-right: -32px;
      margin-right: -32px;

      > div {
        margin: 0 32px 62px 0;
        //margin-right: 32px;
      }

      .grid-guard {
         min-width: 300px;
        flex: 1;
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        height: 0 !important;
      }
    }

  }
}