@import "src/utilities/references/index";

html {
  scroll-behavior: smooth;
}


.rge-landing {
  .my-slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 800px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .text {
      position: absolute;
      right: 64px;
      bottom: 64px;

      h2 {
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
      }

      p {
        font-size: 24px;
        font-weight: 400;
        color: #ffffff;
        margin-top: 12px;
      }
    }
  }

  .categories {
    width: 100%;
    height: 100%;
    max-width: 1800px;
    margin: 32px auto;
    display: flex;
    align-items: center;

    .item {
      display: flex;
      position: relative;
      height: 232px;
      width: 100%;
      max-width: 440px;
      align-items: center;
      justify-content: flex-start;
      margin: 0 16px;
      box-shadow: 0 2px 15px rgb(0, 0, 0 / 10%);
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      border-radius: 6px;
      overflow: hidden;

      .text {
        transition: padding-bottom ease-in-out 0.3s;

        h6 {
          transition: color ease-in-out 0.3s;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }

      .text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-left: 16px;

        h4 {
          font-size: 24px;
          font-weight: 600;
          color: #ffffff;
          margin-bottom: 16px;
        }

        h6 {
          font-size: 16px;
          font-weight: 400;
          color: #aaaaaa;
        }
      }

      &:hover {
        box-shadow: 10px 15px 30px gold;

        .text {
          padding-bottom: 32px;

          h6 {
            color: gold;
          }
        }
      }

    }
  }

  .awards {
    margin-top: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      h2 {
        color: #000000;
        opacity: 0.08;
        font-size: 52px;
        font-weight: 700;
        margin-bottom: -40px;
      }

      h4 {
        font-size: 32px;
        font-weight: 700;
        color: #ffffff;
      }
    }

    .award-slider {
      width: 100%;
      height: 100%;
      max-width: 800px;
      max-height: 300px;
      margin-top: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .projects {
    margin-top: 64px;

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      h2 {
        color: #000000;
        opacity: 0.08;
        font-size: 52px;
        font-weight: 700;
        margin-bottom: -40px;
      }

      h4 {
        font-size: 32px;
        font-weight: 700;
        color: #ffffff;
      }
    }

    > p {
      font-weight: 400;
      font-size: 18px;
      color: #aaaaaa;
      width: 100%;
      text-align: center;
      margin-bottom: 32px;
    }

    .container {
      width: 100%;
      max-width: $maxWidth;
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 640px;

      .my-row {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: -16px;
        margin-bottom: 16px;

        .item {
          position: relative;
          height: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          margin: 0 16px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
          }

          h4 {
            font-size: 24px;
            font-weight: 700;
            color: #ffffff;
            padding-bottom: 128px;
            transition: all 0.4s ease-in-out;
          }

          &:hover {
            h4 {
              color: gold;
              padding-bottom: 192px;
            }
          }
        }
      }
    }
  }

  .credentials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #f4f4f4;
    }

    p {
      color: aliceblue;
      margin: 16px 0 64px;
      font-weight: 400;
      font-size: 18px;
    }

    .container {
      max-width: $maxWidth;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        > * {
          font-weight: 700;
          color: #ffffff;
        }

        h3 {
          font-size: 28px;
        }

        h5 {
          font-size: 18px;
          //margin-top: px;
        }
      }
    }
  }

  .history {
    max-width: $maxWidth;
    margin: 64px auto;

    h2 {
      font-size: 32px;
      font-weight: 700;
      color: #f4f4f4;
      border-bottom: solid 1px rgba(gray, 0.3);
      padding-bottom: 16px;
    }

    .history-content {
      display: flex;
      align-items: center;
      margin: 16px 0;

      .list {
        margin-left: 12px;

        img {
          width: 300px;
          height: 150px;
          object-fit: cover;
          margin-bottom: 12px;
          box-shadow: 0 2px 15px rgb(0, 0, 0 / 10%);
          transition: all ease-in-out 0.3s;
          cursor: pointer;
          border-radius: 6px;
          &:hover{
            box-shadow: 0 2px 15px gold;
          }
        }
      }
      .my-content{
        display: flex;
        align-items: center;

      }
    }
  }
}